.about-section {
  padding: 20px;
  background: #f4f7f6;
}

.about-block {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 70px;
}

.about-title {
  font-size: 24px;     /* slightly reduced */
  font-weight: 700;
  color: #0d2b5c;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: left;
}

.section-line {
  width: 100%;          /* same as about-block */
  height: 4px;
  background-color: #f47b20;
  margin-bottom: 40px;
}

.about-block p {
  font-size: 15px;
  line-height: 1.9;
  color: #444;
  margin-bottom: 15px;
  text-align: justify;
}
