@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

.committees-section {
  background: #f4f7f6;
  padding: 20px 20px;
  font-family: 'Montserrat', sans-serif;
}

.section-container {
  max-width: 1200px;
  margin: auto;
}

.section-heading {
  font-size: 28px;
  font-weight: 800;
  color: #0a2d56;
}

.heading-line {
  height: 4px;
  background: #f39c12;
  margin: 12px 0 40px;
  border-radius: 4px;
}

.sub-heading {
  font-size: 20px;

  font-weight: 700;
  color: #008484;
  margin-top: 5px;
  /* reduce this */
  margin-bottom: 30px;
}

.large-gap {
  margin-top: 30px;
}

/* INTERNATIONAL GRID */
.international-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.member-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.05);
}

.member-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #f39c12;
  margin-bottom: 20px;
}

.member-card h4 {
  font-size: 16px;
  font-weight: 700;
  color: #0a2d56;
}

.member-card p {
  font-size: 13px;
  color: #555;
}

/* GREY BOX */
.committee-box {
  background: #f0f0f0;
  padding: 35px;
  border-radius: 12px;
  margin-bottom: 40px;
  border-left: 6px solid #f39c12;
}

.committee-box h3 {
  margin-bottom: 20px;
}

.committee-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 50px;
}

.committee-grid p {
  margin: 0;
  font-size: 14px;
  padding-left: 15px;
  position: relative;
}

.committee-grid p::before {
  content: "▪";
  position: absolute;
  left: 0;
}

.committee-grid strong {
  color: #0a2d56;
}

/* TABLE WRAPPER FOR RESPONSIVE */
.table-wrapper {
  overflow-x: auto;
}

/* TABLE STYLE */
.tracks-table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  overflow: hidden;
}

/* TRACKS GRID */
.tracks-grid {
  column-count: 4;
  column-gap: 30px;
  margin-top: 40px;
}

/* SQUARE CARD */
/* SQUARE CARD - CHANGED TO MASONRY CARD */
.track-card {
  background: #f2f2f2;
  border: 2px solid #008484;
  border-radius: 8px;

  padding: 25px;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  break-inside: avoid;

  transition: 0.3s ease;
}

.track-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

/* TITLE */
.track-card h4 {
  font-size: 16px;
  font-weight: 700;
  color: #008484;
  margin-bottom: 15px;
}

/* LIST */
.track-card ul {
  padding-left: 18px;
  margin: 0;
}

.track-card li {
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
  line-height: 1.5;
}

/* RESPONSIVE MASONRY */
@media (max-width: 1024px) {
  .tracks-grid {
    column-count: 3;
  }
}

@media (max-width: 850px) {
  .tracks-grid {
    column-count: 2;
  }
}

@media (max-width: 550px) {
  .tracks-grid {
    column-count: 1;
  }
}